[submodule "demographic-data-analyzer"]
	path = demographic-data-analyzer
	url = https://github.com/harlesky/boilerplate-demographic-data-analyzer.git
[submodule "mean-variance-standard-deviation-calculator"]
	path = mean-variance-standard-deviation-calculator
	url = https://github.com/harlesky/boilerplate-mean-variance-standard-deviation-calculator.git
[submodule "medical-data-visualizer"]
	path = medical-data-visualizer
	url = https://github.com/harlesky/boilerplate-medical-data-visualizer.git
[submodule "page-view-time-series-visualizer"]
	path = page-view-time-series-visualizer
	url = https://github.com/harlesky/boilerplate-page-view-time-series-visualizer.git
